<div class="row" style="margin-top: -30px;">
    <div class=" col-12 ">
        <div class="d-flex justify-content-center alig-items-center">
            <ul class="nav nav-pils mt-3 bg-black text-decoration-line-through">
                <li class="nav-item">
                    <a class="nav-link active text-light" data-bs-toggle="tab" [routerLink]="['home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" data-bs-toggle="tab" [routerLink]="['list']">Arcades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" data-bs-toggle="tab" [routerLink]="['info']">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" data-bs-toggle="tab" [routerLink]="['noticias']">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" data-bs-toggle="tab" [routerLink]="['aporta']">Aportar</a>
                </li>

            </ul>
        </div>
    </div>
</div>